/* Mazda Type Font Family */
@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MazdaType";
  src: url("/fonts/MazdaType-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Utility classes for easy application */
.font-mazda {
  font-family: "MazdaType", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-mazda-regular {
  font-family: "MazdaType", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-mazda-medium {
  font-family: "MazdaType", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-mazda-bold {
  font-family: "MazdaType", sans-serif;
  font-weight: 700;
  font-style: normal;
}
